*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}



::-webkit-scrollbar{
  width: fit-content;
}

::-webkit-scrollbar-track{
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb{
  background-color: rgb(255, 255, 255);
}







/* loading page start */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 9999;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #000000;
    border-top-color: #950000;
    border-radius: 50%;
    animation: loading 1s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  /* loading page end */



  /* intro start */
  .intro-text{
   color: purple;
  }
  /* intro end */


/* clothes start */
.clothes{
  background-color: rgb(245, 245, 245);
  
}

.clothes-text{
  color: rgb(0, 0, 0);
  text-decoration: underline purple;
  text-align: center;
  
}

.imgg{
  height: 500px;
  width: 100%;
}

.card{
  width: 435px;
  text-align: center;
  margin-left: 20px;
}
/* clothes end */
